Source: aptly-grpc-lib
Section: libs
Priority: optional
Maintainer: Alexey Kopyttsev <akopyttsev@astralinux.ru>
Build-Depends:
	debhelper-compat (= 12),
	debhelper (>= 11),
	cmake,
	libabsl-dev,
	ninja-build,
	protobuf-compiler-grpc,
	libgrpc-dev,
	protobuf-compiler,
	pkg-config,
	libprotobuf-dev,
 	libgrpc++-dev,
    aptly-grpc-dev
Standards-Version: 0.0.1
Homepage: https://github.com:maxnet663/aptly-grpc-cpp


Package: aptly-grpc-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Connect from cpp to aptly by grpc
